* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #e7e5e6;
}

.app-conntainer {
  display: flex;
}

/* side-bar Section */

.sidebar-header {
  display:  flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/ivcvKj4rmq.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */
  width: 30%;
  height: 100vh;
  position: fixed;
}

.sidebar-header .sidebar-text img {
  width: 40%;
}

input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: white;
  outline: none;
  border-radius: 20px;
  border: none;
}

input:focus-within {
  color: rgb(75, 72, 72);
}

::-webkit-input-placeholder {
  color: rgb(75, 72, 72);
}

.form {
  text-align: center;
}

button {
  padding: 5px 30px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 20px;
  color:rgb(68, 0, 255);
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #00b7ff;
  color: white;
}

.error-msg {
  color: white;  
  text-align: left;
  margin-bottom: 20px;
}


.sidebar-text {
  display:  flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.sidebar-text h1 {
  font-size: 4rem;
  color: white;
  line-height: 1rem;
  margin: 30px 0 15px 0;
  animation: zoom 2s infinite;
  -webkit-animation: zoom 2s infinite;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: translateY(9);
  }
  25% {
    -webkit-transform: translateX(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }

}

.sidebar-text h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
  animation: zoom 2s infinite;
  -webkit-animation: zoom 2s infinite;
}

.sidebar-text h2 span {
  color: #44b4e1;
}

/* weather-section ------------------------------------------ */

.weather-section {
  background-image: url(img/9QKgpuACjU.webp);
  background-color: #e7e5e6;
  background-repeat: no-repeat;
  background-position: cover;
  width: 70%;
  margin-left: 30%;
  padding: 30px 0 20px;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

.weather-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px
}

.weather-section .city {
  /* position: relative; */
  padding: 20px 5%;
  border-radius: 20px;
  color: white;
  text-align: center;
  background-color: #004ef7;
  /* background-image: url(img/rain.jpg); */
}

.weather-section .city .city-timezone {
  font-size: 2rem;
  font-weight: 300;
}

.weather-section .city .city-timezone sup {
  background-color: #000000;
  padding: 2px;
  border-radius: 5px;
}

.weather-section .city .city-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4.5rem;
  font-weight: 400;
}

.weather-section .city figure {
  font-size: 1.5rem;
  font-weight: 300;
}

.weather-section .city .city-temp sup {
  font-size: 2rem;
  align-self: start;
}

@media screen and (max-width:768px) {
  .app-conntainer {
    display: block;
  }

  .sidebar-header {
    width: 100%;
    position: relative;
    height: 60vh;
  }

  .sidebar-header .sidebar-text img {
    width: 20%;
    margin-bottom: 25px;
  }

  input {
    padding: 10px 10px;
    border-radius: 20px;
  }

  .sidebar-text h1 {
    font-size: 3.5rem;
    margin: 10px;
  }

  .sidebar-text h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  /* SECTION 2----------------------- MOBILE */

  .weather {
    width: 100%;
    height: 100vh;
  }

  .weather-section {
    width: auto;
    margin: 0;
  }

  .weather-section .cities {
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #fff; */
  }
}

@media screen and (max-width:360px) {
  .weather-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }

  .sidebar-header {
    height: 70vh;
  }
}